* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  height: 10vh;
  display: flex;
  width: 100%;
  z-index: 99;
  justify-content: space-around;
  align-items: center;
  background: #f8f8f8;
  -webkit-box-shadow: 0px 1px 7px 3px rgba(121, 169, 237, 1);
  -moz-box-shadow: 0px 1px 7px 3px rgba(121, 169, 237, 1);
  box-shadow: 0px 1px 7px 3px rgba(121, 169, 237, 1);
  border-radius: 5px;

  .logo {
    padding:  0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(43, 9, 76);
    border: 1px solid #f27121;
    border-radius: 5px;

    span {
      font-size: 1.8rem;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      text-decoration: #e94057 underline;
      padding: 0.2rem 0;
    }

    &:hover {
      border: none;
      box-shadow: 5px 5px 5px #f27121;

    }

    &.active {
      background: linear-gradient(to right, #f27121, #e94057);
      color: white;
      -webkit-box-shadow: 0px 3px 5px 1px rgba(138, 179, 237, 1);
      -moz-box-shadow: 0px 3px 5px 1px rgba(138, 179, 237, 1);
      box-shadow: 0px 3px 5px 1px rgba(138, 179, 237, 1);
    }
  }

  .navbar {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .navitem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 1rem;
    background: white;
    border-radius: 4px;
    padding: 0.5rem;
    width: 8rem;
    cursor: pointer;

    -webkit-box-shadow: 0px 3px 5px 1px rgba(138, 179, 237, 1);
    -moz-box-shadow: 0px 3px 5px 1px rgba(138, 179, 237, 1);
    box-shadow: 0px 3px 5px 1px rgba(138, 179, 237, 1);

    h4 {
      margin-left: 10px;
      background: none;
      font-size: 0.8rem;
      font-weight: 500;
    }

    svg {
      color: #f27121;
      font-size: 1.5rem;
      background: none;
    }

    &:hover {
      box-shadow: 5px 5px 5px #f27121;
    }

    &.active {
      background: linear-gradient(to right, #f27121, #e94057);

      svg {
        color: white;
      }

      h4 {
        color: white;
      }
    }
  }

  .menu-icon {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: orangered;
    border-radius: 5px;
    display: none;

    &:hover {
      color: blue;
    }
  }

  @media screen and (max-width: 1210px) {
    .logo {
      position: absolute;
      top: 20px;
      left: 30px;
    }

    .menu-icon {
      display: block;
      cursor: pointer;
    }
    
    .navitem{
      display: none;
    }
    
    .resp-nav {
      display: block;
      position: absolute;
      right: 0;
      height: 90vh;
      width: 100%;
      color: white;
      top: 10.1vh;
      background-color: #ffffff;
      transition: all 0.5s ease-in-out;

      .navitem {
        float: right;
        display: flex;
        justify-content: flex-start;
        margin: 10px 10%;
        display: flex;
        width: 80%;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
